#map {
  height: 180%;
}
.pin-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.fade {
  background: rgba(145,232,66,0.69);
  background: -moz-linear-gradient(top, rgba(145,232,66,0.69) 0%, rgba(210,255,82,0) 53%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,232,66,0.69)), color-stop(53%, rgba(210,255,82,0)));
background: -webkit-linear-gradient(top, rgba(145,232,66,0.69) 0%, rgba(210,255,82,0) 53%);
background: -o-linear-gradient(top, rgba(145,232,66,0.69) 0%, rgba(210,255,82,0) 53%);
background: -ms-linear-gradient(top, rgba(145,232,66,0.69) 0%, rgba(210,255,82,0) 53%);
background: linear-gradient(to bottom, rgba(145,232,66,0.69) 0%, rgba(210,255,82,0) 53%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91e842', endColorstr='#d2ff52', GradientType=0 );
    opacity: .75;
    pointer-events: none;
}
.pin-left {
    top: 0;
    bottom: 0;
    left: 0;
}
.pin-top {
    top: 0;
    right: 0;
    left: 0;
}

.pin-bottomright {
    bottom: 0;
    right: 0;
}
.pin-top, .pin-right, .pin-bottom, .pin-left, .pin-topleft, .pin-topright, .pin-bottomleft, .pin-bottomright {
    position: absolute;
}

.player-container {
    width: 125px;
    height: 170px;
    margin: auto;
    bottom: 10px;
}

.player-wrapper {
    position: absolute;
    height: 170px;
    width: 125px;
    
}

.player-shadow {

    position: absolute;
    width: 140px;
    height: 14px;
    border-radius: 50%;
    background-color: #000000;
    opacity: .5;
    top: 109px;
    left: -7px;
    -webkit-filter: blur(3px);
    filter: blur(3px);

}


.button.icon:empty:not(input) { width:40px; padding:10px; }
.button.short.icon:empty      { width:30px; padding:5px; }

.big.button.icon {
  line-height: 40px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  }

.space-bottom1 {
    margin-bottom: 10px;
}

.space-right1 {
    margin-right: 10px;
}


.button.icon:empty:not(input) {
    width: 40px;
    padding: 10px;
}
.button.quiet {
    background-color: rgba(0,0,0,0.25);
    color: #fff;
}
.round-left {
    border-radius: 3px 0 0 3px;
}

.round-right {
    border-radius: 0 3px 3px 0;
}
.round-top {
    border-radius: 3px 3px 0 0;
}
.unround, .pill.unround .unround {
    border-radius: 0;
}

.button-up {
    bottom: 40px;
    left: 40px;
}

.quiet {
    color: #7f7f7f;
    color: rgba(0,0,0,.5);
}
.button.icon:empty:not(input) {
    width: 40px;
    padding: 10px;
}
.fl {
    float: left;
}
.button {
    background-color: #3887be;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 20px;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.icon:empty:before {
    margin: 0;
}
.icon:not(.big):before {
    margin-right: 5px;
}
.rcon:after, .icon:before {
    font-family: 'icon';
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: inherit;
    vertical-align: top;
    -webkit-background-size: 4320px 60px;
    background-size: 4320px 60px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.icon.caret-left:before {
    content: "\e6a6";
}

.icon.caret-up:before {
    content: "\e6a8";
}

.icon.caret-down:before {
    content: "\e6a5";
}

.icon.caret-right:before {
    content: "\e6a7";
}